# See https://help.github.com/ignore-files/ for more about ignoring files.
.env
backend/app/services/__pycache__/
backend/app/api/__pycache__/
backend/app/api/v1/__pycache__/
backend/app/error_handler/__pycache__/
backend/app/middleware/__pycache__/
backend/app/models/__pycache__/
backend/app/__pycache__/
QAvenv
