# pip3 install -r requirements.txt
blinker
click
dominate
flask
Flask-Bootstrap
Flask-Moment
Flask-Script
flask-sqlalchemy
flask-wtf
greenlet
importlib-metadata
itsdangerous
jinja2
MarkupSafe
mysql-connector-python
mysqlclient
packaging
pip
pkg-resources
setuptools
SQLAlchemy
typing-extensions
visitor
werkzeug
wheel
wtforms
zipp
flask-migrate
flask-mail
Flask-JWT-Extended
Flask-RESTful
Flask-Login
requests
validator_collection
pytest
Flask-Cors
